<h1 class="py-3 text-primary">Tableau de bord</h1>

<div class="p-3">
    <table id="tblData" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Nom
                </th>
                <th>
                    Prenom
                </th>
                @*<th>
                    Abonnement
                </th>*@
                <th>
                    Date Debut Abonnement
                </th>
                <th>
                    Date Fin Abonnement
                </th>
                <th>
                    statut
                </th>
                <th></th>
            </tr>
        </thead> 
    </table>
</div>

@section Scripts{
    <script src="~/js/commande.js"></script>
}