@model int
<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Achat passé avec succès !</h1>
        Votre numéro d'achat: @Model.ToString() <br /><br />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        validé! <br />
        
    </div>
</div> 